// @import '~@openchannel/angular-common-components/assets/styles/theme';
@import 'src/assets/styles/mixins';
@import 'src/theme';

@mixin title-size() {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.home {
  &__hero {
    padding: 8rem 0 13rem;
    @include media-breakpoint-sm {
      padding: 3rem 0 4rem;
    }

    &-title {
      font-size: 38px;
      line-height: 58px;
      @include media-breakpoint-sm {
        font-size: 24px;
        line-height: 36px;
        margin: 0;
      }
    }

    &-description {
      font-size: 18px;
      line-height: 28px;
      margin: 0;
      @include media-breakpoint-sm {
        font-size: 14px;
        line-height: 22px;
        margin: 1rem 0 0;
      }
    }

    &-partner {
      display: block;
      margin-top: 3rem;
      @include media-breakpoint-sm {
        width: 256px;
      }
    }
  }

  &__services {
    padding-top: 100px;
    padding-bottom: 110px;
    @include media-breakpoint-sm {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    &-title {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 0;
      @include media-breakpoint-sm {
        font-size: 18px;
        line-height: 28px;
      }
    }

    &-description {
      font-size: 14px;
      line-height: 22px;
      margin-top: 1rem;
      margin-bottom: 0;
    }

    &-image {
      margin-top: 4.5rem;
      @include media-breakpoint-sm {
        margin-top: 3rem;
      }
    }

    &-list {
      @include media-breakpoint-md {
        margin-top: 4.5rem;
      }

      .home__services-card {
        width: 100%;
        display: flex;
        flex-direction: column;

        & + .home__services-card {
          margin-top: 3.5rem;
        }

        &-title {
          @include title-size();
        }

        &-description {
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
  }

  &__technology {
    padding-top: 100px;
    padding-bottom: 95px;
    @include media-breakpoint-md {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    &-title {
      line-height: 36px;
      font-size: 24px;
      margin: 0;
      @include media-breakpoint-md {
        font-size: 18px;
        line-height: 28px;
      }
    }

    &-list {
      margin-top: 39px;
      justify-content: space-between;
      @include media-breakpoint-md {
        margin-top: 20px;
      }

      .home__technology-card {
        background-color: #fff;
        width: 32%;
        padding: 2rem;
        @include media-breakpoint-md {
          width: 100%;
          margin: 0 2rem 2rem;
        }

        &:last-child {
          margin-bottom: 0;
        }

        .technology-icon {
          width: 44px;
          height: 44px;

          img {
            width: 100%;
            height: auto;
          }
        }

        .technology-description {
          width: 100%;
          font-size: 14px;
          height: 72px;
          overflow-y: hidden;
          @include media-breakpoint-md {
            height: 64px;
          }
        }
      }
    }
  }

  &__approach {
    padding-top: 100px;
    padding-bottom: 44px;
    @include media-breakpoint-md {
      padding-top: 3rem;
      padding-bottom: 0;
    }

    &-title {
      line-height: 36px;
      font-size: 24px;
      margin-bottom: 7rem;
      max-width: 400px;
      width: 100%;
      @include media-breakpoint-md {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 3rem;
      }
      @include media-breakpoint-sm {
        margin: 0 0 3rem;
      }
    }

    &-card {
      padding: 0;
      margin-bottom: 5rem;
      @include media-breakpoint-sm {
        padding: 0 15px;
      }

      &-heading {
        display: flex;
      }

      &-name {
        @include title-size();
        margin: 0 0 0 1.5rem;
      }

      &-text {
        margin-top: 2rem;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 22px;
      }

      &-link {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }

  &__register {
    padding-top: 80px;
    padding-bottom: 80px;
    @include media-breakpoint-sm {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }
}

.article-image {
  border-radius: 12px;
  box-shadow: 0 0 16px 0 rgba(44, 100, 131, 0.08);
}

.image-container {
  width: 100%;
  height: auto;
  max-height: 144px;
}

.feature-icon {
  width: 60px;
  height: 60px;
  min-width: 60px;

  img {
    width: 100%;
    height: auto;
  }
}

.list-number {
  background-color: $primary;
  color: #fff;
  width: 24px;
  min-width: 24px;
  height: 24px;
  text-align: center;
  border-radius: 50%;
}
