@import 'src/styles.scss';

.login-position {
  display: block;
  margin: 5rem auto 0;
  width: 412px;
  #login_password {
    &::placeholder {
      opacity: 0.5;
    }
  }
}

@include media-breakpoint-sm {
  .login-position {
    margin: 0 auto;
    width: 100%;
  }
}
